/*!
 * Portal Informatika CSS
 */

@import url('http://fonts.googleapis.com/css?family=Lato:400,300,700,900');
 
html,
body {

	font-family: 'Lato', sans-serif;
	font-weight: 300;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
	
	padding-top: 20px;
	
}

.navbar-brand .logo-text{

	font-weight: 600;
	text-shadow: 0 1px 2px rgba(255, 255, 255, 0.6);
}

.control-button {
	text-align:right;
}

footer {
	padding-bottom: 10px;
}