*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

zerolevel2/config/database.php
zerolevel2/config/config.php

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
zerolevel2/logs/*
!zerolevel2/logs/index.html
!zerolevel2/logs/.htaccess
/vendor/
